@font-face {
    font-family: 'Merriweather Sans', sans-serif;
    src: url("fonts/HappyChicken.ttf");
}

@font-face {
    font-family: 'Merriweather Sans', sans-serif;
    src: url("fonts/VarsityTeam-Bold.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
    color:black;
    font-family: 'Merriweather Sans', sans-serif;
    overflow:hidden;
}

.left, .right, .middle {
    width:33%;
}

.left, .middle {
    float:left;
    top:0px;
}

.middle {
    text-align:middle;
    overflow-y:scroll;
    height:100%;
    width:33%;
}

.right{
    float:right;
    top:0px;
    height:100%;
    width:33%;
    overflow:scroll;
}

#buildings {
    height:95vh;
    bottom:0px;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    color:black;
}

#away {
    font-family: 'Merriweather Sans', sans-serif;
}

#acheives {
    width:400px;
    height:300px;
    overflow:scroll;
    font-family: 'Merriweather Sans', sans-serif;
}

@keyframes wiggle {
  0% {
    transform: scale(1);
  }
  6.25% {
    transform: scale(0.75);
  }
  8.75% {
    transform: scale(0.7);
  }
  25% {
    transform: scale(1);
  }
  32.5% {
    transform: scale(0.95);
  }
  42.5% {
    transform: scale(1.0);
  }
  52% {
    transform: scale(0.97);
  }
  62% {
    transform: scale(1);
  }
  72% {
    transform: scale(0.98);
  }
  82% {
    transform: scale(1);
  }
  93% {
    transform: scale(0.99);
  }
}

.BEAN {
    height:128px;
    width:128px;
    transition: .15s;
    margin:auto;
    z-index:2;
    position:relative;
    display:block;
    cursor:pointer;
}

.BEAN:hover {
    animation:wiggle 2s;
}

.BEAN:active{
    transform:scale(0.8);
}

button {
    font-size: 16px;
	line-height: 24px;
	color: var(#000);
	padding: 8px 32px;
	border-radius: 2px;
	outline: 2px solid var(#000);
	cursor: pointer;
	transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.5), box-shadow 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.5);
	width: 90%;
	background: var(#fff);
	margin: 8px 0 8px 0;
	border: 2px solid black;
}

button:hover {
    transform: translateX(5px) translateY(-5px);
	box-shadow: -5px 5px 0 0 var(#D8D8D8), -5px 5px 0 2px var(#000);
}

button:active {
	transform: translateX(2px) translateY(-2px);
	box-shadow: -3px 3px 0 0 var(--gray), -3px 3px 0 2px var(--black);
}

button:disabled, button:disabled:hover, button.disabled:focus-visible {
	transform: none;
	box-shadow: none;
	cursor: not-allowed;
	color: var(#D8D8D8);
	background: var(#fff);
	outline: 2px solid var(#D8D8D8);
}

.acheivement {
    padding:6px;
    display:inline-block;
    background-color:#ddd;
    text-align:center;
    width:85%;
    font-size:16px;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("/images/border.png") 4 stretch;
}

.upgrade-btn-span{
    text-align:left;
}

#popupbean {
    display:none;
    position:absolute;
    z-index:10;
    top:.5vh;
    left:.5vw;
    height:96px;
    width:96px;
    cursor:pointer;
}

#popupwrathbean {
    display:none;
    position:absolute;
    z-index:10;
    top:.5vh;
    left:.5vw;
    height:96px;
    width:96px;
    cursor:pointer;
}

.invisaudio {
    display:none;
}

#versions {
    width:200px;
    height:350px;
    overflow:scroll;
    font-family: 'Merriweather Sans', sans-serif;
    bottom:1px;
    left:0px;
}