@font-face {
    font-family: 'Merriweather Sans', sans-serif;
    src: url("fonts/HappyChicken.ttf");
}

@font-face {
    font-family: 'Merriweather Sans', sans-serif;
    src: url("fonts/VarsityTeam-Bold.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
    color:black;
    font-family: 'Merriweather Sans', sans-serif;
    overflow:hidden;
}

.left, .right, .middle {
    width:33%;
}

.left, .middle {
    float:left;
    top:0px;
}

.middle {
    text-align:middle;
    overflow-y:scroll;
    height:100%;
    width:33%;
}

.right{
    float:right;
    top:0px;
    height:100%;
    width:33%;
    overflow:scroll;
}

#buildings {
    height:95vh;
    bottom:0px;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    color:black;
}

#away {
    font-family: 'Merriweather Sans', sans-serif;
}

#acheives {
    width:400px;
    height:300px;
    overflow:scroll;
    font-family: 'Merriweather Sans', sans-serif;
}

@keyframes wiggle {
  0% {
    transform: scale(1);
  }
  6.25% {
    transform: scale(0.75);
  }
  8.75% {
    transform: scale(0.7);
  }
  25% {
    transform: scale(1);
  }
  32.5% {
    transform: scale(0.95);
  }
  42.5% {
    transform: scale(1.0);
  }
  52% {
    transform: scale(0.97);
  }
  62% {
    transform: scale(1);
  }
  72% {
    transform: scale(0.98);
  }
  82% {
    transform: scale(1);
  }
  93% {
    transform: scale(0.99);
  }
}

.BEAN {
    height:128px;
    width:128px;
    transition: .15s;
    margin:auto;
    z-index:2;
    position:relative;
    display:block;
    cursor:pointer;
}

.BEAN:hover {
    animation:wiggle 2s;
}

.BEAN:active{
    transform:scale(0.8);
}

.buy-btn {
    background-color: #ddd;
  border: none;
  color: black;
    padding:10px 20px 10px 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
    width:100%;
}

.buy-btn:hover {
    background-color:#6e6e6e;
}
    
.acheivement {
    padding:6px;
    display:inline-block;
    background-color:#ddd;
    text-align:center;
    width:85%;
    font-size:16px;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("/images/border.png") 4 stretch;
}

.upgrade-btn-span{
    text-align:left;
}

#popupbean {
    display:none;
    position:absolute;
    z-index:10;
    top:.5vh;
    left:.5vw;
    height:96px;
    width:96px;
    cursor:pointer;
}

#popupwrathbean {
    display:none;
    position:absolute;
    z-index:10;
    top:.5vh;
    left:.5vw;
    height:96px;
    width:96px;
    cursor:pointer;
}

.invisaudio {
    display:none;
}

#versions {
    width:200px;
    height:350px;
    overflow:scroll;
    font-family: 'Merriweather Sans', sans-serif;
    bottom:1px;
    left:0px;
}